body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
  bottom: 0;
}

.hero {
  background: linear-gradient(rgba(255, 255, 255, 0.147), rgba(255, 255, 255, 0.151)),  url('https://github.com/Likhith-Kosireddy/southasianinfrastructure/blob/main/project%20imgs/analog-landscape-city-with-buildings.jpg?raw=true');
  background-size: cover;
  color: black;
  text-align: right;
  padding: 100px 0;
  border-radius: 10px;
  
}

.listings {
  padding: 20px;
}

.listings ul {
  list-style-type: none;
}

.listings ul li {
  margin-bottom: 10px;
}
.mainicon{
  height: 70px;
  width: 70px;
  border-radius: 50px;
}


